body {
  background-color: $pale;
}

#header {
  position: fixed;
  height: 80px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: $white;
  border-bottom: solid $border-color 1px;
  color: $blue;
	box-shadow: 0px 1px 10px 2px $shadow-color;
}

#main-bg {
  position: absolute;
  top: 81px;
  bottom: 71px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
	background-color: $light-grey;
  background-image: url('../images/card.png');
  background-repeat: no-repeat;
  opacity: 0.25;
}

#main-layout {
  position: absolute;
  top: 81px;
  bottom: 71px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  opacity: 1.00;
  padding-top: 18px;
}

#footer {
  text-align: center;
  background-color: $footer-bg-color;
	color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
	height: 71px;
  border-top: solid $border-color 1px;
	background-image: url('../images/footer.png');
	background-repeat: no-repeat;
	background-position: center;
}

#menu-container {
  color: $white;
  width: 180px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: $dark-color;
  box-shadow: 1px 0px 10px 2px $shadow-color;
}

#main-content {
  position: absolute;
  left: 180px;
  width: 100%;
  padding: 18px;
}

#nav-logo {
  height: 100px;
  text-align: center;
  border-bottom: solid $medium-color 1px;
}

.menu-item, .contextual-items {
  font-family: Montserrat;
  font-weight: normal;
  border-bottom: solid $medium-color 1px;
  text-align: right;
  padding-right: 18px;
  cursor: pointer;
}

.menu-item:hover, .menu-item-active {
  background-color: $medium-color;
}

.contextual-items {
  background-color: $medium-color;
  -webkit-box-shadow: inset 0px 2px 14px 0px #69191a;
  -moz-box-shadow: inset 0px 2px 14px 0px #69191a;
  box-shadow: inset 0px 2px 14px 0px #69191a;
  border: none;
}

.contextual-items-hidden {
  display: none;
}

.contextual-items div a {
  color: $white;
  font-size: 0.8em;
  text-decoration: none;
}

.widget {
  width: 50%;
  border: solid $border-color 1px;
  padding: 0px;
  background-color: $widget-bg-color;
  margin-bottom: 18px;
}

.widget-title {
  border-bottom: solid $border-color 1px;
  padding: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.widget-body {
  padding: 12px;
  text-align: justify;
}

.number-widget .widget-body {
  text-align: center;
}

.number-widget .widget-body h3 {
  margin-bottom: 0px;
}

.number-widget-value {
  color: $white;
  border-radius: 50%;
  width: 100%;
  height: 47%;
  padding-top: 38%;
}

.number-widget-value h3 {
  font-size: 2.0em;
}

.number-widget div div span {
  font-weight: 700;
  font-size: 0.8em;
}

.line-chart-widget .widget-body {
  text-align: center;
  margin: 0px;
  padding: 12px;
}

.pie-chart-widget .widget-body {
  text-align: center;
  margin: 0px;
  padding: 12px;
}

.pie-chart-widget div ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pie-chart-widget div div {
  text-align: left;
}

.pie-chart-widget div ul li {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
}

.progress-bar-container {
	border: solid $border-color 1px;
	width: 100%
}

.progress-bar-content {
	background-color: $blue;
	font-size: 0.5em;
}

.main-number-label {
  font-weight: bold;
  font-size: 1.0em;
}
