$white: #FFFFFF;
$black: #000000;

$light-grey: #F5F5F5;

$border-color: #999999;
$shadow-color: #BBBBBB;
$widget-bg-color: #FFFFFF;

// CFNA specific colors
$blue: #1E5A8A;
$red: #C60751;
$footer-bg-color: #414C4E;
