$white: #FFFFFF;
$black: #000000;

$light-grey: #F5F5F5;

$border-color: #999999;
$shadow-color: #666666;
$widget-bg-color: #FFFFFF;

// CFNA specific colors
$blue: #1E5A8A;
$red: #C60751;
$footer-bg-color: #414C4E;

// Palette for new layout
$pale: #e6e6e8;
$accent: #300032;
$medium-color: #c43235;
$dark-color: #06000a;
